*{
    box-sizing: border-box;
}

body {
    background-color: rgb(135, 132, 128);
    font-family: Arial, Helvetica, sans-serif;   
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.tab input,
.tab-content {
    display: none;
}

.tab {
    background: #777;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    margin-bottom: 10px;
}

.tab-title {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    position: relative;
}

.tab-title::after {
    content: '+';
}

.tab-content {
    padding: 10px -15px;
}

.tab :checked + .tab-title {
   background: darkslategray;
   color: aliceblue;
}

